<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tool_Via.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Tool_Via.Properties.Settings>
            <setting name="txbPasswordYahoo" serializeAs="String">
                <value />
            </setting>
            <setting name="txbPasswordFb" serializeAs="String">
                <value />
            </setting>
            <setting name="txbApiKeySimthue" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>dsfsadfasd</value>
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value>dsafadsfasd</value>
            </setting>
            <setting name="isRemember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ckbRandomMail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ckbRandomFacebook" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="typeChangeIp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nudThread" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txbTokenTemp" serializeAs="String">
                <value />
            </setting>
            <setting name="nudChangeIpCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ckbDeleteInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ckbLogoutDevice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txbApiKeyOtpvn" serializeAs="String">
                <value />
            </setting>
            <setting name="apiType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ckbProfile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ckbDeleteDevice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txbPath" serializeAs="String">
                <value />
            </setting>
            <setting name="txbAnticaptcha" serializeAs="String">
                <value />
            </setting>
            <setting name="ckbShowIp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txbCookieTemp" serializeAs="String">
                <value />
            </setting>
        </Tool_Via.Properties.Settings>
    </userSettings>
</configuration>
